body {
    background-image: url(/images/backgroundAccueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  h1 {
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    list-style: none;
  }
  
  #show-password {
    background-color: blueviolet;
    height: 1.5rem;
    width: 3rem;
    border-radius: 5px;
    color: white;
  
  }
  
  #show-confirmPassword {
    background-color: blueviolet;
    color: white;
    height: 1.5rem;
    width: 3rem;
    border-radius: 5px;
  }
  
 