body {
  background-image: url(/images/backgroundAccueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  color: white;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

#show-password {
  background-color: blueviolet;
  height: 1.5rem;
  width: 3rem;
  border-radius: 5px;
  color: white;

}

#show-confirmPassword {
  background-color: blueviolet;
  color: white;
  height: 1.5rem;
  width: 3rem;
  border-radius: 5px;
}

body>nav {
  height: 14rem;
}

.navbar {
  padding-left: 2rem;
  color: white;
  background: radial-gradient(circle, rgba(110, 108, 108, 1) 34%, rgba(128, 124, 124, 1) 70%, rgba(161, 160, 160, 1) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5rem;
  padding: 1rem;
}

.logo {
  width: 13rem;
  height: auto;
}

#navbarSupportedContent>ul>li.nav-item.dropdown>a {
  color: white;
  font-size: 1.5rem;
  margin: 5rem;
  background: linear-gradient(0deg, rgba(133, 125, 125, 1) 10%, rgba(189, 189, 189, 1) 55%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50px;
  padding: 1rem;
}

#navbarSupportedContent>ul>li.nav-item.dropdown>ul {
  background: linear-gradient(0deg, rgba(133, 125, 125, 1) 10%, rgba(189, 189, 189, 1) 55%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

.dropdown-item {
  color: white;
}

#navbarSupportedContent>ul>li:nth-child(2)>a {
  color: white;
  font-size: 1.5rem;
  margin: 5rem;
  background: linear-gradient(0deg, rgba(133, 125, 125, 1) 10%, rgba(189, 189, 189, 1) 55%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50px;
  padding: 1rem;
}

#sidenav-3 {
  margin: 1rem;
}

.btn {
  color: white;
  background: linear-gradient(0deg, rgba(110, 109, 107, 0.7287289915966386) 20%, rgba(69, 69, 69, 0.6530987394957983) 45%);
}

.btn:hover {
  background: linear-gradient(0deg, rgba(133, 125, 125, 1) 10%, rgba(189, 189, 189, 1) 55%);
}

body>div.container>div.wrapper>div>div>div {
  background: linear-gradient(0deg, rgba(198, 177, 177, 1) 23%, rgba(220, 202, 202, 0.6839110644257703) 83%);

}

#change-password {
  border-radius: 5px;
  color: white;
  background: linear-gradient(0deg, rgba(110, 109, 107, 0.7287289915966386) 20%, rgba(69, 69, 69, 0.6530987394957983) 45%);
}

.buttonSubmit {
  text-decoration: none;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
  color: white;
  background: linear-gradient(0deg, rgba(110, 109, 107, 0.7287289915966386) 20%, rgba(69, 69, 69, 0.6530987394957983) 45%);
}

#change-password {
  margin: 1rem;
  border-radius: 5px;
  color: white;
  background: linear-gradient(0deg, rgba(110, 109, 107, 0.7287289915966386) 20%, rgba(69, 69, 69, 0.6530987394957983) 45%);
}

body>div.container>div.wrapper>div>div>div>p {
  text-align: center;
  margin-top: 1rem;
  text-decoration: underline;
  font-weight: bold;
}

body > div.container > div.wrapper > div > div > div > label {
  font-weight: bold;
  text-decoration: underline;
}

body > div.container > div.wrapper > div > div > div > div > label {
  font-weight: bold;
  text-decoration: underline;
}

body > div.container > div.wrapper > div > div > div > div.container > div > label {
  font-weight: bold;
  text-decoration: underline;
}

body > div.container > div.wrapper > div > div > div > div.container {
  border: solid 2px grey;
}

body > div.container > div.wrapper > div > div > div > div.container > h1 {
  font-size: 1.5rem;
}

#offcanvasExample > div.offcanvas-body > a > button {
  border-radius: 5px;
  color: white;
  background: linear-gradient(0deg, rgba(110, 109, 107, 0.7287289915966386) 20%, rgba(69, 69, 69, 0.6530987394957983) 45%);
}

#offcanvasExample > div.offcanvas-body > a > button:hover {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  background: linear-gradient(0deg, rgba(133, 125, 125, 1) 10%, rgba(189, 189, 189, 1) 55%);
  border-radius: 5px;
}

#offcanvasExample {
  background: linear-gradient(0deg, rgba(198,177,177,1) 23%, rgba(220,202,202,0.6839110644257703) 83%);
}

#offcanvasExampleLabel {
  text-decoration: underline;
  font-weight: bold;
}