body {
    background-image: url(/images/backgroundAccueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  h1 {
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    list-style: none;
  }
  
  #show-password {
    background-color: blueviolet;
    height: 1.5rem;
    width: 3rem;
    border-radius: 5px;
    color: white;
  
  }
  
  #show-confirmPassword {
    background-color: blueviolet;
    color: white;
    height: 1.5rem;
    width: 3rem;
    border-radius: 5px;
  }
  
  .navbar {
    color: white;
    background: radial-gradient(circle, rgba(110,108,108,1) 34%, rgba(128,124,124,1) 70%, rgba(161,160,160,1) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  
  
  .navbar-brand {
    color: white;
    font-weight: bold;
  }